In [36]:
class person:
    def __init__(self, name):
        self.name = name
   
    def display(self):
        print("Name:", self.name)

class staff(person):
    def __init__(self, id):
        self.id = id
   
    def display(self):
        print("Name:", self.id)

class Temporarystaff(staff):
    def __init__(self,name,id,days, hwork):
        self.days = days
        self.hwork = hwork
   
    def salary(self):
        self.salary_earned = self.hwork * 150
  

    def display(self):
        print("number of days:-", self.days)
        print("number of hours work", self.hwork)
        print("salary earned:-", self.sala)

ts = Temporarystaff("Abbas",101,8,23)
ts.display()

number of days:- 8
number of hours work 23

AttributeError: 'Temporarystaff' object has no attribute 'salary_earned'