In [1]:
value={2,'PYTHON',5,9.5}
for i in value:
    print(i)

9.5
2
5
PYTHON

In [4]:
value={2,'PYTHON',5,9.5}
print('2' in value)
print('PYTHON' in value)

False
True

In [6]:
value={2,'PYTHON',5,9.5}
value.add("Apple")
print(value)

{2, 5, 9.5, 'Apple', 'PYTHON'}

In [8]:
value={2,'PYTHON','a',5,9.5}
print(len(value))

5

In [10]:
value={2,'PYTHON','a',5,9.5}
value.remove(2)
print(value)

{5, 9.5, 'a', 'PYTHON'}

In [14]:
value={2,'PYTHON','a',5,9.5}
value.discard(2)
print(value)

{5, 9.5, 'a', 'PYTHON'}

In [ ]:
val_set={2,'PYTHON','a',5,9.4}
val_set.clear() #here only values are cleared
print(val_set)

set()

In [ ]:
val_set={2,'PYTHON','a',5,9.4}
del val_set
print(val_set) #Error  because it is deleted, it will print nothing

NameError: name 'val_set' is not defined

In [5]:
v_set=set()
n=int(input())
for i in range(n):
    v_set.add(int(input()))

print(v_set)

 4
 1
 2
 3
 4

{1, 2, 3, 4}

In [18]:
val_set={6,12,26,10}
n=int(input("Enter the number:-"))
if n in val_set:
    print("present")
else:
    print("not present")

Enter the number:- 10

present

In [19]:
v_set={1,2,3,4,5,6}
print(len(v_set))

6

In [30]:
month1={'jan','feb','mar','apr','may','jun'}
month2={'jul','aug','sep','oct','nov','dec','jan','jun'}
# month=month2 | month1
month=month1.union(month2)
print(month)

{'aug', 'may', 'mar', 'feb', 'sep', 'oct', 'jan', 'jul', 'jun', 'nov', 'dec', 'apr'}

In [35]:
#Intersection
common = month1 & month2
print(common)

{'jun', 'jan'}

In [34]:
month_common=month1.intersection(month2)
month_common

{'jan', 'jun'}

In [36]:
diff=(month1-month2)
diff

{'apr', 'feb', 'mar', 'may'}

In [37]:
diff=(month2-month1)
diff

{'aug', 'dec', 'jul', 'nov', 'oct', 'sep'}

In [38]:
xdiff=month1.difference(month2)
xdiff

{'apr', 'feb', 'mar', 'may'}

In [5]:
month1={'jan','feb','dec','aug','nov'}#set comparison
month2={'feb','nov'}
print(month1 > month2) # True (left set is super set of the right set)
print(month1 < month2) # False (left set is super set if the right one is subset)
print(month1 == month2) # False (left set is not equal to right set)

True
False
False